@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* gradiend border color */

.footer-border-color{
    border-image-source: linear-gradient(180deg, #00d2ff 0%, #059dbe 100%);
    border-image-slice: 1;
}

.imgsize{
     background-size: cover;
}